@import "tailwindcss";

@theme {
  --color-background: #0B0B0B;
  --color-text: #F0EFE9;
  --color-accent: #C8F135;
  --color-danger: #E56B6B;
  --font-sans: 'Outfit', sans-serif;
  --font-mono: 'Fira Code', monospace;
  --font-serif: 'DM Serif Display', serif;
}

body {
  background-color: var(--color-background);
  color: var(--color-text);
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;
}